@font-face {
  font-family: 'mainFont';
  src: url("Fonts/Poppins/Poppins-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'descFont';
  src: url("Fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: absolute;
}

.container {
  /* height: 90vh; */
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: #f1f1f1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: scroll;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: sticky;
}

.navbar ul {
  display: flex;
  list-style: none;
  /* margin: 20px 0px; */
}

.navbar ul li {
  font-family: 'mainFont';
  font-size: 1.1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #181818;
  padding: 30px;
}

.navbar ul li a:hover {
  transform: scale(1.5);
}

.main {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 5.6vw; */
  font-size: 80px;
  color: #181818;
}

.subMain {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 3.5vw; */
  font-size: 40px;
  color: #313131;
  position: absolute;
}

.pfp {
  max-width: 100%;
  height: auto;
  width: auto\9;
  /* ie8 */
}

.description {
  font-family: 'descFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 1.75vw; */
  font-size: 25px;
  color: #373737;
  position: relative;
  bottom: -80px;
  text-align: left;
}

.typed-text {
  color: chartreuse;
}

.cursor {
  animation: blinker 0.6s linear infinite;
  color: #181818;
}

.space {
  margin-top: 150px;
}

.container p span.typed-text {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  font-size: 3.5vw;
  color: #181818;
}

.us {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor.typing {
  animation: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#moreSoon {

}

#home {

}

h2, h1 {
  margin: 0;
  vertical-align: bottom;
}


/* div {
  vertical-align: bottom;
} */

@media only screen and (max-width: 828px){
  .subMain{position:inherit}
}