@font-face {
  font-family: 'mainFont';
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'descFont';
  src: url("../Fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

.project_button {
  font-family: 'descFont';
  font-weight: normal;
  font-style: normal; 

  background-color: #181818;
  border: none;
  color: white;
  /* padding: 20px; */

  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 6px;
  border-radius: 10px;

  cursor: pointer;

  width: 450px;
  height: 250px;

  box-shadow: 0px 16px 16px rgba(0,0,0,0.14);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.main_Head {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 5.6vw; */
  font-size: 80px;
  color: #181818;

  text-align: center;
  position: relative;

  text-shadow: 0px 0px 35px #b2b2b2;
}

.project_button:hover {
  transform: scale(1.03);
}

.banner {
  width: 350px;
  height: 190px;
  
  /* border: 4px solid #181818; */
  transition: all .25s ease-in-out;
  background-size: cover;
}

.banner:hover {
  cursor: pointer;
  transform: scale(1.105);
}

.projectDesc {
  font-family: 'descFont';
  font-weight: normal;
  font-style: normal;
  text-align: center;
  color: #181818;
  /* z-index: 999999; */

  position: relative;
  bottom: 30px;
}

#img_container {
  width: 350px;
  height: 190px;
  
  border: 4px solid #181818;
  /* border-radius: 10px; */
  overflow: hidden;

  /* display: inline-block; */
  margin: 40px 40px;
  
  align-items: left;
  justify-content: left;
}

#main_container {
  display: inline-block;
  /* text-align: center; */
}