@font-face {
  font-family: 'mainFont';
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format('truetype');
}

@font-face {
  font-family: 'descFont';
  src: url("../Fonts/Poppins/Poppins-Regular.ttf") format('truetype');
}

html {
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  position: absolute;
}

.container {
  /* height: 90vh; */
  display: grid;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: #f1f1f1; */
  background: #f1fafa;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow-y: scroll;
}

/* .socials {
  position: fixed;
  top: 90%;
  left: 42.5%;
} */

.container_small {
  transform: rotateY(-20deg) rotateX(10deg) scale(0.9) translateX(11rem) !important;
  /* -moz-transform: rotateY(-20deg) rotateX(10deg) scale(0.9) translateX(-29rem) !important;
  -webkit-transform: rotateY(-20deg) rotateX(10deg) scale(0.9) translateX(-29rem) !important; */

  border-radius: 8rem !important;    
  width:37rem !important;
  height:37rem !important;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: transparent;
  position: sticky;
}

.navbar ul {
  display: flex;
  list-style: none;
  /* margin: 20px 0px; */
}

.navbar ul li {
  font-family: 'mainFont';
  font-size: 1.1rem;
}

.navbar ul li a {
  text-decoration: none;
  color: #181818;
  padding: 30px;
  
  position: relative;
  right: 20px;
}

.main {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 5.6vw; */
  font-size: 80px;
  color: #181818;

  text-shadow: 0px 0px 35px #b2b2b2;
}

.subMain {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 3.5vw; */
  font-size: 40px;
  color: #313131;
  position: absolute;

  /* text-shadow: 0px 0px 35px #b2b2b2; */
}

.pfp {
  max-width: 100%;
  height: auto;
  width: auto\9;
  
  box-shadow: 0px 20px 20px rgba(0,0,0,0.2);
  /* ie8 */
}

.description_header {
  font-family: 'descFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 1.75vw; */
  font-size: 60px;
  color: #181818;
  position: relative;
  /* bottom: -0px; */
  text-align: left;

  text-shadow: 0px 0px 35px #b2b2b2;
}

.description {
  font-family: 'descFont';
  font-weight: normal;
  font-style: normal;
  /* font-size: 1.75vw; */
  font-size: 27.5px;
  color: #2c2c2c;
  position: relative;
  /* bottom: -0px; */
  text-align: left;

  text-shadow: 0px 0px 35px #b4b4b4;
}

.button {
  font-family: 'descFont';
  font-weight: normal;
  font-style: normal; 

  background-color: #181818;
  border: none;
  color: white;
  /* padding: 20px; */

  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  /* margin: 4px 2px; */
  border-radius: 10px;

  cursor: pointer;

  width: 125px;
  height: 40px;

  box-shadow: 0px 16px 16px rgba(0,0,0,0.14);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button:hover {
  background-color: #303030;
}

.typed-text {
  color: chartreuse;
  text-shadow: none;
}

.cursor {
  animation: blinker 0.6s linear infinite;
  color: #181818;
}

.space {
  margin-top: 150px;
}

.container p span.typed-text {
  font-family: 'mainFont';
  font-weight: normal;
  font-style: normal;
  font-size: 3.5vw;
  color: #181818;
}

/* .divider {
  position: absolute;
  width: 500px;
  text-align:center;
} */

.line:after {
    content: " ";
    display: block;
    border-bottom: 0.5px solid #9E9E9E;
    width: 300px;

    position: absolute;
    bottom: 280px;
}

.icon {
  height: 40px;
  width: 40px;
  margin: 0 6px;

  /* display: flex; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  transition: transform .2s;

  /* animation: move 4s infinite; */
}
/* @keyframes move {
  0%{top: 0px;}
  50%{top: 10px;}
  100%{top: 0px;}
} */

.icon_span {
  height: 60px;
  width: 60px;

  background: #f1fafa;
  border-radius: 50%;
  box-shadow: 0px 16px 16px rgba(0,0,0,0.1);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.icon_span:hover {
  transform: scale(1.2);
  /* cursor: pointer; */
}



.us {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cursor.typing {
  animation: none;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

#moreSoon {

}

#home {

}

#aboutMe {

}

h2, h1 {
  margin: 0;
  vertical-align: bottom;
}


/* div {
  vertical-align: bottom;
} */

@media only screen and (max-width: 828px){
  .subMain{position:inherit}
  .line:after{
    visibility: hidden;
  }
}